// Define variables for your color scheme

// http://colorhunt.co/c/100885

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$purple-light: #F67280;
$purple-strong: #C06C84;
$blue-purple: #6C5B7B;
$navy-blue: #355C7D;
