<h1>Bienvenue !</h1>

<p>Merci de vous être inscrit sur inkip.it !</p>

<p>Mon nom est Simon, je suis le créateur d'inkip.it. Si vous avez la moindre question, la moindre remarque, n'hésitez surtout pas à m'en faire part par retour de mail.</p>

<p>D'ici là, bonne session d'écriture :)</p>

<p>Simon.</p>
