<h1>Bienvenue <%= @user.short_name %> !</h1>

<p>Merci de vous être inscrit sur <a href="https://www.inkip.it">inkip.it</a> !</p>

<p>Mon nom est Simon, je suis le créateur d'<a href="https://www.inkip.it">inkip.it</a>. Si vous avez la moindre question, la moindre remarque, n'hésitez surtout pas à m'en faire part en m'écrivant à <a href="mailto:simon@inkip.it">simon@inkip.it</a>.</p>

<p>D'ici là, bonne session d'écriture :)</p>

<p>Simon.</p>
