// BODY

html, body {
  height: 100%;
  margin: 0;
}

// NAVBAR

.navbar-book-dashboard {
  height: 60px;
  background-color: $navy-blue;
  border: none;
  border-top: 1px solid #2F363E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    color: white;
  }

  @include mq($until: desktop) {
    position: static;
  }
}

.navbar-book-title {
  color: white;
  position: absolute;
  left: 0;
  font-size: 90%;
  width: 320px;
  padding: 0 12px;
  text-align: center;
}

.navbar-book-dashboard-content {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.navbar-book-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  display: inline;
  min-width: 100px;
  height: 60px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  a {
    color: rgba(256,256,256,.8);
    font-size: 14px;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

}

.navbar-item--active {
  color: white;
  position: relative;

  &:before {
    border-top: solid 4px white;
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
  }

  a {
    color: white;
  }
}

.navbar-back {
  position: absolute;
  left: 24px;
  color: white;
  font-size: 14px;
}

.navbar-back-link {
  font-size: 14px;
  color: white;

  &:hover {
    color: white;
    opacity: .9;
    text-decoration: none;
  }
}


// CONTENT

.wrapper {
  display: flex;

  @include mq($until: desktop) {
    flex-direction: column;
    height: 100%;
  }

}

// SIDEBAR

.sidebar {
  padding: 24px;
  height: calc(100vh - 120px);
  flex: 0 0 320px;
  top: 0 !important;
  background-color: white;
  border-right: solid 1px lightgrey;
  box-shadow: 3px 5px 5px lightgrey;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($until: desktop) {
    flex: none;
    height: 25vh;
    padding: 12px;
    min-height: 100px;
    overflow: hidden;
    width: 100%;
    border-right: none;
    position: static;
    justify-content: space-around;
    background-color: #F1F1F1;
  }
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

}

.sidebar-item {
  width: 100%;
  height: 64px;
  color: #39434F;
  font-weight: 300;
  letter-spacing: 5px;
  opacity: .8;
  background-color: #F1F1F1;
  border-radius: 3px;
  margin: 0 auto 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid darkgrey;
  box-shadow: 0 3px 0 darkgrey;
  font-family: $headers-font;
  text-transform: uppercase;
  transition: all .4s ease;

  &:last-child {
    margin-bottom: 0;
  }


  &:hover {
    text-decoration: none;
    box-shadow: 0 0 0;
    color: #39434F;
    transform: translateY(2px);
    transition: all .2s ease;
  }

  @include mq($until: desktop) {
    width: 80%;
    background-color: white;
    font-size: 4vw;
  }

}

.sidebar-item--active {
  background: -webkit-linear-gradient($purple-light, lightgrey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  box-shadow: 0 0 0;
  opacity: .9;

  @include mq($until: desktop) {
    background-color: white;
  }

  &:hover{
    transform: none;
    color: white;
  }
}

.sidebar-cta {
  background-color: $purple-light;
  color: white;
  border: none;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 0;
  opacity: 1;

  &:hover {
    color: white;
  }

  &:focus {
    text-decoration: none;
  }

  i {
    color: white;
    font-size: 18px;
    margin: 0 12px;
  }

  .icon-circle {
    height: 32px;
    width: 32px;
  }
}

.content-dashboard {
  padding: 24px 0 0 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #F1F1F1;
  height: calc(100vh - 120px);
  overflow-y: scroll;

  @include mq($until: tablet) {
    padding: 12px 12px;
    overflow-y: visible;
    height: 100%;
  }
}

.disclaimer {
  font-size: 12px;
  color: red;
  text-align: center;
}
