// BODY

html, body {
  height: 100%;
  margin: 0;
}

// body {
//   display: flex;
//   flex-direction: column;
// }

// NAVBAR

.navbar-book-dashboard {
  height: 60px;
  background-color: #475059;
  border: none;
  border-top: 1px solid #2F363E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-book-dashboard-content {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.navbar-book-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline;
  margin-right: 36px;
  height: 60px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    color: #AAA;
    font-size: 14px;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.navbar-item--active {
  color: white;
  position: relative;

  &:before {
    border-top: solid 4px white;
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
  }

  a {
    color: white;
  }
}

.navbar-back {
  position: absolute;
  left: 24px;
  color: white;
  font-size: 14px;
}

.navbar-back-link {
  font-size: 14px;
  color: white;

  &:hover {
    color: white;
    opacity: .9;
    text-decoration: none;
  }
}


// CONTENT

.wrapper {
  display: flex;

}

// SIDEBAR

.sidebar {
  padding: 24px;
  min-height: calc(100vh - 120px);
  flex: 0 0 320px;
  // position: sticky !important;
  top: 0 !important;
  background-color: white;
  border-right: solid 1px darkgrey;
  box-shadow: 1px 0 0 rgba(0, 0, 0, .1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

}

.sidebar-item {
  width: 100%;
  height: 64px;
  color: #39434F;
  font-weight: lighter;
  background-color: #F1F1F1;
  border-radius: 3px;
  margin: 0 auto 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid darkgrey;
  box-shadow: 0 1px 0 darkgrey;
  font-family: $headers-font;
  text-transform: uppercase;


  &:hover {
    text-decoration: none;
    box-shadow: 0 0 0;
    color: #39434F;
    transform: translateY(1px);
    transition: transform .4s ease;
  }

}

.sidebar-item--active {
  background-color: #DBECED;
  box-shadow: 0 0 0;
  opacity: .9;

  &:hover{
    transform: none;
  }
}

.sidebar-cta {
  background-color: #A1CDCE;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 12px;
  margin-bottom: 0;

  &:hover {
    color: white;
  }

  &:focus {
    text-decoration: none;
  }
}

.content-dashboard {
  padding: 24px;
  width: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #F1F1F1;
}
