.banner-landing {
  // https://unsplash.com/photos/aGUndxz-VRw
  background-image: image-url("landing2.jpeg");
  height: 100vh;
  background-position: bottom -64px center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 48px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 95%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 95%, 0 90%);

  @include mq($until: desktop) {
    margin-bottom: 0;
  }
}

.navbar-wagon--landing {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.content-banner-landing {
  min-height: calc(90vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq($until: desktop) {
    margin: 0;
    align-items: center;
  }
}

.landing-title-container {
  padding: 12px;
  text-align: center;

  @include mq($until: desktop) {
    text-align: center;
  }

}

.landing-brand {
  margin-bottom: 24px;
  font-size: 24px;
  text-shadow: 2px 2px $purple-light;
  letter-spacing: 6px;
  color: white;
}

.landing-title {
  font-size: 48px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  height: 144px;
  line-height: 150%;
  color: white;

  span:first-child {
    color: white;
    text-shadow: 2px 2px $purple-light;
  }

  @include mq($until: desktop) {
    font-size: 24px;
    width: 80vw;
    margin-bottom: 12px;
    height: 90px;
  }

  @include mq($from: tablet, $until: desktop) {
    font-size: 24px;
    width: 80vw;
    height: 50px;
  }
}

.typer:after {
  bottom: 0.35em !important;
  height: 0.9em !important;
}

.landing-subtitle {
  margin-bottom: 24px;
  color: $purple-light;
  font-size: 24px;
  font-family: $body-font;

  @include mq($until: desktop) {
    font-size: 18px;
  }
}

.cta {
  color: white;
  background-color: $purple-light;
  padding: 16px;
  display: inline-block;
  transition: opacity .5s ease;

  &:hover {
    text-decoration: none;
    color: white;
    opacity: .8;
  }
}

.landing-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
  padding-top: 48px;

  @include mq($until: desktop) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 20px 10px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.landing-section--data {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid $purple-light;
    width: 50%;
    display: block;
  }
}

.landing-data-section {
  list-style-type: none;
  margin: 0 0 48px 0;
  padding: 24px 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  i {
    font-size: 36px;
    color: $purple-light;
  }

  li {
    padding: 12px;
    max-width: 300px;
    text-align: center;

    @include mq($until: desktop) {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  p {
    opacity: .8;
    font-size: 16px;
  }
}

.data-landing {
  font-size: 48px;
  font-family: $headers-font;
}

.screenshot {
  height: 400px;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
  animation: float 8s ease-in-out infinite;

  @include mq($until: desktop) {
    height: 200px;
    margin-bottom: 20px;
    margin-left: 0 !important;
  }

  @include mq($from: tablet) {
    margin-left: 12%;
  }
}

.screenshot--right {

  @include mq($from: desktop) {
    margin-right: 12%;
    margin-left: 8%;
  }
}

.value-proposition-block {
  margin-left: 8%;
  padding-right: 12%;
}

.value-proposition-block--left {
  margin-left: 0;
  padding-right: 0;
  padding-left: 12%;

  @include mq($until: desktop) {
    display: none;
  }
}

.value-proposition-headline {
  margin-top: 0;
  margin-bottom: 24px;

  @include mq($until: desktop) {
    font-size: 24px;
  }
}

.value-proposition-text {
  margin-bottom: 24px;
  opacity: .8;
  font-size: 16px;

  @include mq($until: desktop) {
    font-size: 14px;
  }
}

.landing-testimonials {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    border-top: 1px solid $purple-light;
    width: 50%;
    display: block;
  }
}

.landing-footer {
  height: 50px;
  border-top: 1px solid $purple-light;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  p {
    margin-bottom: 0;
  }

}

.available-soon {
  background-color: $purple-strong;
  color: white;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  box-shadow: 1px 1px 1px lightgrey;
  padding: 3px 6px;
}

.landing-section--about {
  background-image: image-url("landing2.jpeg");
  background-attachment: fixed;
  background-position: bottom center;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 51% 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 51% 10%, 100% 0, 100% 100%, 0 100%);

  @include mq($until: desktop) {
    padding: 12px;
  }
}

.contact-us-block {
  height: 25vh;
  width: 32vw;
  color: white;
  text-align: center;

  a {
    color: white;
  }

  h2 {
    margin-bottom: 24px;

    @include mq($until: desktop) {
      font-size: 24px;
    }
  }

  @include mq($until: desktop) {
    height: 100%;
    width: 100%;
  }
}
