.banner-landing {
  // https://unsplash.com/photos/1fyccRaS_u4
  background-image: url('https://images.unsplash.com/photo-1422112528461-3186878f87dc?auto=format&fit=crop&w=1934&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  height: 90vh;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-wagon--landing {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.content-banner-landing {
  min-height: calc(90vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 8%;
  margin-left: 55%;
}

.landing-title-container {
  padding: 12px;
  text-align: left;

}

.landing-brand {
  margin-bottom: 24px;
  font-size: 24px;
  text-shadow: 2px 2px $purple-light;
  letter-spacing: 6px;
  color: white;
}

.landing-title {
  font-size: 36px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px $purple-light;
  margin: 0 0 24px 0;
}

.landing-subtitle {
  color: white;
  margin-bottom: 24px;
  color: $blue-purple;
}

.cta {
  color: white;
  background-color: $purple-light;
  padding: 16px;
  display: inline-block;
  transition: opacity .5s ease;

  &:hover {
    text-decoration: none;
    color: white;
    opacity: .8;
  }
}

.landing-section {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.screenshot {
  height: 400px;
  box-shadow: 2px 2px 2px lightgrey;
  margin-left: 12%;
}

.screenshot--right {
  margin-right: 12%;
  margin-left: 8%;
}

.value-proposition-block {
  margin-left: 8%;
  padding-right: 12%;
}

.value-proposition-block--left {
  margin-left: 0;
  padding-right: 0;
  padding-left: 12%;
}

.value-proposition-headline {
  margin-top: 0;
  margin-bottom: 24px;
}

.value-proposition-text {
  margin-bottom: 24px;
  opacity: .8;
  font-size: 16px;
}

.landing-footer {
  height: 50px;
  border-top: 1px solid $purple-light;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  p {
    margin-bottom: 0;
  }

}
