.profile-head-block {
  background: linear-gradient(to right, $purple-light, $purple-strong);
  height: 50vh;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 4vh;
  position: relative;
}

#edit-profile {
  position: absolute;
  right: 3vh;
  top: 1vh;
  color: $purple-strong;
  border-radius: 50%;
  background-color: white;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.profile-head-info {
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 4vh 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.profile-username {
  text-align: center;
  font-size: 2.5vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1vh;
  margin: 0;
}

#progress-bar-profile {
  background-color: lightgrey;
  margin-bottom: 1.6vh;
}

.progress-bar-data {
  text-align: center;
  font-size: 1.6vh;
}
