.profile-wrapper {
  background-color: rgba(0, 0, 0, .03);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  @include mq($until: desktop) {
    visibility: hidden;
    display: inline;
  }
}

.profile-head-block {
  background: linear-gradient(to right, $purple-light, $purple-strong);
  background-position: center top;
  background-repeat: non-repeat;
  background-size: cover;
  height: 70vh;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 4vh;
  position: relative;
  border-radius: 0 0 5px 5px;
  position: relative;
  visibility: visible;

  @include mq($until: desktop) {
    width: 100%;
  }

  @include mq($from: desktop) {
    height: 50vh;
    width: 56vh;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

#edit-profile {
  position: absolute;
  right: 3vh;
  top: 1vh;
  color: $purple-strong;
  border-radius: 50%;
  background-color: white;
  opacity: .7;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all .5s ease;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    width: 10vh;
    border-radius: 16px;

    &:after {
      content: "Editer";
      font-size: 1.5vh;
    }

    .fa-pencil {
      display: none;
    }
  }

  @include mq($from: desktop) {
    right: 2vh;
    top: 2vh;
  }
}

.profile-head-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include mq($from: desktop) {
    width: 100%;
  }
}

.profile-picture {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 4vh 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  @include mq($from: desktop) {
    height: 15vh;
    width: 15vh;
    margin: 0 0 2vh 0;
  }
}

.profile-username {
  text-align: center;
  font-size: 2.5vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1vh;
  margin: 0 0 2vh 0;

  @include mq($from: desktop) {
    font-size: 2vh;
  }
}

.profile-location {
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 5vh 0;

  .fa {
    margin-right: 2vw;
  }

  p {
    margin: 0;
    opacity: .8;
  }

  @include mq($from: desktop) {
    font-size: 1.5vh;
    margin: 0 0 2.5vh 0;
    justify-content: flex-start;

    .fa {
      margin-right: 1vw;
    }
  }
}

.profile-following-data {
  display: flex;
  justify-content: space-around;

  @include mq($from: desktop) {
    width: 86%;
  }
}

.progress-bar-label {
  text-align: center;
  font-size: 2.2vh;
  text-transform: uppercase;
  letter-spacing: .8vh;

  @include mq($from: desktop) {
    font-size: 1.6vh;
    margin-bottom: 1.6vh;
  }

}

#progress-bar-profile {
  background-color: lightgrey;
  margin-bottom: 1.6vh;
}

.progress-bar-data {
  text-align: center;
  font-size: 1.6vh;
  opacity: .8;

  @include mq($from: desktop) {
    font-size: 1.4vh;
  }
}

.follow-form {
  position: absolute;
  bottom: -5vh;

  @include mq($from: desktop) {
    bottom: -3vh;
  }
}

.profile-follow-button {
  color: white;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-color: $blue-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

  @include mq($from: desktop) {
    height: 6vh;
    width: 6vh;

    &:hover {
      width: 15vh;
      border-radius: 5px;
      opacity: 1;

      &:after {
        content: "Suivre"
      }

      .fa-plus {
        display: none;
      }
    }
  }

}

.profile-follow-button--unfollow {

  @include mq($from: desktop) {

    &:hover {

      &:after {
        content: "Se Désabonner"
      }

      .fa-minus {
        display: none;
      }
    }
  }
}

#fa-plus-follow {
  font-size: 4vh;
  font-weight: lighter;

  @include mq($from: desktop) {
    font-size: 2.5vh;
  }
}

#fa-minus-unfollow {
  font-size: 4vh;
  font-weight: lighter;

  @include mq($from: desktop) {
    font-size: 2.5vh;
  }
}

.profile-follow-button--unfollow {
  background-color: lightgrey;
}

.profile-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12vw;

  @include mq($from: desktop) {
    flex-direction: column;
    padding: 0;
  }
}

#profile-statistics-sm-up {

  display: none;

  @include mq($from: desktop) {
    width: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 49vh;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 4vh;

    .profile-statistics {
      height: 100%;
    }

    .profile-stats-label {
      color: black;
    }
  }
}

#profile-statistics-sm-down {

  display: none;

  .profile-statistics {
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }

  .profile-stats-label {
    color: black;
  }

  @include mq($until: desktop) {
    display: inline-block;
    width: 100vw;
    height: calc(30vh - 60px);
  }
}

.profile-stats-item {
  width: 32vw;

  @include mq($from: desktop) {
    width: auto;
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.profile-stats-data {
  font-size: 3.5vh;
  color: $purple-strong;
  text-align: center;

  @include mq($from: desktop) {
    font-size: 3vh;
  }
}

.profile-following-figures {
  color: white;
}

.profile-stats-label {
  font-size: 1.6vh;
  text-align: center;
  color: white;

  @include mq($from: desktop) {
    font-size: 1.4vh;
  }
}

.follower-stripe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2vh;
  border: 1px solid rgba(0, 0, 0, .05);
  background-color: rgba(0, 0, 0, .05);
  padding: 2vh;
  border-radius: 5px;
  color: rgba(0, 0, 0, .5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all .5s ease;

  &:hover {
    color: $purple-light;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px $purple-light;

    .small-avatar {
      border-color: $purple-light;
    }
  }
}

.follower-stripe-avatar {
  margin-right: 2vw;
}
