.profile-wrapper {
  background-color: rgba(0, 0, 0, .01);
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  @include mq($until: desktop) {
    visibility: hidden;
    display: inline;
  }
}

.profile-head-block {
  background: linear-gradient(to right, $purple-light, $purple-strong);
  height: 70vh;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 4vh;
  position: relative;
  border-radius: 0 0 5px 5px;
  margin-bottom: 12vw;
  position: relative;
  visibility: visible;

  @include mq($until: desktop) {
    width: 100%;
  }

  @include mq($from: desktop) {
    height: 30vh;
    width: 33%;
    margin-bottom: 0;
  }
}

#edit-profile {
  position: absolute;
  right: 3vh;
  top: 1vh;
  color: $purple-strong;
  border-radius: 50%;
  background-color: white;
  opacity: .7;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.profile-head-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 4vh 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.profile-username {
  text-align: center;
  font-size: 2.5vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1vh;
  margin: 0 0 2vh 0;
}

.profile-location {
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 5vh 0;

  .fa {
    margin-right: 2vw;
  }

  p {
    margin: 0;
    opacity: .8;
  }
}

.profile-following-data {
  display: flex;
  justify-content: space-around;
}

.progress-bar-label {
  text-align: center;
  font-size: 2.2vh;
  text-transform: uppercase;
  letter-spacing: .8vh;
}

#progress-bar-profile {
  background-color: lightgrey;
  margin-bottom: 1.6vh;
}

.progress-bar-data {
  text-align: center;
  font-size: 1.6vh;
}

#follow-form {
  position: absolute;
  bottom: -5vh;
}

.profile-follow-button {
  color: white;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-color: $blue-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: none;
}

#fa-plus-follow {
  font-size: 4vh;
  font-weight: lighter;
}

.profile-follow-button--unfollow {
  background-color: lightgrey;
}

.profile-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12vw;

  @include mq($from: desktop) {
    flex-direction: column;
  }
}

#profile-statistics-sm-up {

  display: none;

  @include mq($from: desktop) {
    display: inline;
  }
}

#profile-statistics-sm-down {

  display: none;

  @include mq($until: desktop) {
    display: inline;
  }
}

.profile-stats-item {
  width: 32vw;
}

.profile-stats-data {
  font-size: 3.5vh;
  color: $purple-strong;
  text-align: center;
}

.profile-following-figures {
  color: white;
}

.profile-stats-label {
  font-size: 1.6vh;
  text-align: center;
}
