.sidebar--rankings {
  height: calc(100vh - 60px);
  padding: 12px;

  @include mq($until: desktop) {
    flex: none;
    height: 25vh;
    padding: 12px;
    min-height: 100px;
    overflow: hidden;
    width: 100%;
    border-right: none;
    position: static;
    justify-content: space-around;
    background-color: #F1F1F1;
  }
}

.sidebar-item--rankings {
  font-size: 3vw;

  @include mq($from: tablet, $until: desktop) {
    font-size: 2vw;
  }

    @include mq($from: desktop, $until: wide) {
    font-size: 1vw;
  }

    @include mq($from: wide) {
    font-size: .7vw;
  }
}

.content-dashboard--rankings {
  height: calc(100vh - 60px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 48px 0 0 0;
}

.container--blank {
  background-color: transparent;
  box-shadow: none;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  @include mq($until: desktop) {
    width: 90vw;
  }

  @include mq($from: desktop) {
    width: 50vw;
  }

  @include mq($from: wide) {
    width: 30vw;
  }
}

.rank-title {
  font-size: 4vw;
  margin: 0 0 24px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $purple-strong;

  @include mq($from: tablet) {
    font-size: 3vw;
  }

  @include mq($from: desktop) {
    font-size: 1.5vw;
  }
}

.ranking-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.ranking-item {
  font-size: 3vw;
  background-color: white;
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 24px;
  height: 7vh;
  border-radius: 5px;
  border: solid 1px #CCCCCC;
  box-shadow: 4px 4px 5px lightgrey;
  transition: all .5s ease;

  &:hover {
    transform: translate(0, -5px);
    box-shadow: 4px 4px 3px $purple-light;
  }

  &:first-child {
    color: $purple-light;
  }

  @include mq($from: tablet, $until: desktop) {
    font-size: 2vw;
  }

  @include mq($from: desktop, $until: wide) {
    font-size: 1.4vw;
  }

  @include mq($from: wide) {
    font-size: .9vw;
  }
}

.ranking-name {
  width: 90%;
  text-align: left;
  padding-left: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.ranking-data {
  white-space: no-wrap;
  margin-left: 12px;
}
