.wrapper__signin {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px lightgrey;
}

.container__signin {
  background-color: white;
  width: 500px;
  height: 550px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  form {
    margin-bottom: 24px;

    .checkbox {
      position: static !important;
      margin-right: 12px;
    }
  }

  p {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 24px;
  }

  @include mq($until: desktop) {
    h2 {
      margin-top: 0;
    }

    label {
      font-size: 2.5vh;
    }
  }
}

.facebook-cta {
  background-color: #4467B0;
  color: white;
  border-radius: 5px;
  padding: 24px 24px;
  font-size: 16px;
  margin-bottom: 24px;
  box-shadow: 0 3px 0 darkgrey;
  transition: all .4s ease;

  i {
    margin-right: 12px;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 0;
    color: white;
    transform: translateY(2px);
    transition: all .2s ease;
  }

  @include mq($until: desktop) {
    width: 100%;
    font-size: 2.2vh;
  }
}
