.content-dashboard--statistics {
  min-height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-chart {
  background-color: white;
  width: 100%;
  height: 50%;
  border-radius: 4px;
  box-shadow: 0 0 5px darkgrey;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.sidebar--statistics {
  flex: 0 0 400px;
}

.sidebar-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 12px;
}

.streaks {
  display: flex;
  justify-content: space-around;
}

.streaks-title {
  margin-bottom: 12px;
}

.streaks-data {
  display: flex;
  justify-content: space-around;
  padding: 0 12px;
  align-items: center;
  font-size: 24px;
}

#fire-streaks-current {
  color: #F8AE3D;
}

#fire-streaks-max {
  color: #A8CDFE;
}

.streaks-text {
  font-size: 12px;
}
