.statistics-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 50% 50%
}

.content-dashboard--statistics {
  min-height: calc(100vh - 120px);
  width: 100%;
}

.content-chart {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px darkgrey;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-chart--up {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  margin-bottom: 12px;
}

.content-chart--down {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.sidebar--statistics {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  box-shadow: 0 0 5px darkgrey;
  margin-right: 12px;
  background-color: white;
  height: 100%;
}

.sidebar-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 12px;
}

.streaks {
  display: flex;
  justify-content: space-around;
}

.streaks-title {
  margin-bottom: 12px;
}

.streaks-data {
  display: flex;
  justify-content: space-around;
  padding: 0 12px;
  align-items: center;
  font-size: 24px;
}

#fire-streaks-current {
  color: #F8AE3D;
}

#fire-streaks-max {
  color: #A8CDFE;
}

.streaks-text {
  font-size: 12px;
}
