body {
  height: auto;

  @include mq($until: desktop) {
    height: 100%;
  }
}

.content-dashboard--writing {
  background-color: white;
}

.content-writing {
  margin: 0 auto;
  width: 725px;

  @include mq($until: desktop) {
    width: 100vw;
  }
}

.content-writing-title {
  font-family: $headers-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $navy-blue;
  font-size: 36px;
  text-align: center;
  margin: 24px 0;
  border: none;
  box-shadow: none;
  border-bottom: solid 1px lightgray;
  height: 100%;
  word-break: break-word;

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-bottom: solid 1px lightgray;
  }

  @include mq($until: desktop) {
    font-size: 6vw;
  }

}

.content-writing-text {
  background-color: white;
  padding: 12px 24px 0 24px;
  height: 100%;
  font-family: $headers-font;
  text-align: justify;

  textarea {
    height: 100%;
    font-size: 16px;
  }

  @include mq($until: desktop) {
    padding: 12px 10px 0 10px;
  }
}

.text {
  @include mq($until: desktop) {
    font-size: 2.5vh;
    overflow-wrap: break-word;
  }
}

.form-writing {
  height: 100%;
}

.wrapper--white {
  background-color: white;
  height: 100%;
}

// MEDIUM EDITOR

.medium-editor-element {
  border:none;
}

.editable {
  box-shadow: none;
  padding-bottom: 512px;
  height: 100%;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.medium-toolbar-arrow-under:after {
  border-color: #2f1e07 transparent transparent transparent;
  top: 60px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #2f1e07 transparent; }

.medium-editor-toolbar {
  background-color: black;
  border: 1px solid #5b3a0e;
  border-radius: 6px; }
  .medium-editor-toolbar li button {
    background-color: transparent;
    border: none;
    border-right: 1px solid #5b3a0e;
    box-sizing: border-box;
    color: #ffedd5;
    height: 60px;
    min-width: 60px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
            transition: background-color .2s ease-in, color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: #030200;
      color: #ffedd5; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 6px;
    border-right: none;
    border-top-right-radius: 6px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #030200;
    color: #ffedd5; }

.medium-editor-toolbar-form {
  background: #2f1e07;
  border-radius: 6px;
  color: #ffedd5; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #2f1e07;
    color: #ffedd5;
    height: 60px; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
      color: #ffedd5;
      color: rgba(255, 237, 213, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
      /* Firefox 18- */
      color: #ffedd5;
      color: rgba(255, 237, 213, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
      /* Firefox 19+ */
      color: #ffedd5;
      color: rgba(255, 237, 213, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
      color: #ffedd5;
      color: rgba(255, 237, 213, 0.8); }
  .medium-editor-toolbar-form a {
    color: #ffedd5; }

.medium-editor-toolbar-anchor-preview {
  background: #2f1e07;
  border-radius: 6px;
  color: #ffedd5; }

.medium-editor-placeholder:after {
  color: #5b3a0e; }


// BOTTOM-BAR

.bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: #EDEDEE;
  border-top: 1px solid lightgray;
  font-size: 14px;
  color: #4A4A4A;

}

.bottom-bar-container {
  width: 100%;

  &:hover {
    .bottom-bar-hidden {
      cursor: pointer;
      transform: translateY(-60px);
      height: 260px;
    }
  }
}

.bottom-bar-shown {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #EDEDEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;

}

.bottom-bar-hidden {
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 100%;
  background-color: #EDEDEE;
  transition: .5s ease;
  width: 100%;
  border-top: 1px solid lightgray;
}

.bottom-bar__go-back {
  @include mq($until: desktop) {
    width: 75vw;
  }
}

.bottom-bar__back-to-book {
  color: #4A4A4A;

  &:hover {
    color: #4A4A4A;
    opacity: .8;
    text-decoration: none;
  }
}

.bottom-bar__progress-bar {
  background-color: white;
}

.bottom-bar__save-status {
  width: 250px;
  text-align: right;
}

.saving-status {
  background-color: darkgrey;
  display: inline-block;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.saving-status--saved {
  background-color: #45A597;
}

#progress-bar-book {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    display: block;
  }
}

.progress-bar--completed {
  background-color: transparent;

  p {
    margin-bottom: 0;
  }
}

// MENTION.JS

.mention_name{
  font-size:12px;
}

.mention_username{
  font-size:12px;
  color:#999;
}

.mention_image{
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.active .mention_username{
  color:#fff;
}
