<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-followers">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Abonnés à <%= @user.user_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @followers.each do |following| %>
          <a class="follower-stripe" href="<%= user_path(following) %>">
            <div class="small-avatar follower-stripe-avatar" style="background-image: url(<%= following.profile_picture_url %>)"></div>
            <div class="follower-username"><%= following.user_name %></div>
          </a>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
