<% if @book.is_completed? %>
  <h3 class="progress-bar-label">Roman terminé ! (<%= number_with_delimiter(@book.wordcount, delimiter: ' ') %> mots)</h3>
<% else %>
  <div class="progress-bar-block">
    <h3 class="progress-bar-label">Objectif</h3>
    <div id="progress-bar-profile"></div>
    <div class="progress-bar-data"><%= number_with_delimiter(@book.wordcount, delimiter: ' ')%> / <%= number_with_delimiter(@book.word_goal, delimiter: ' ') %> mots</div>
  </div>
<% end %>
