<div class="sidebar sidebar--rankings">
  <div class="sidebar-buttons">
    <h2 class="sidebar-title">Records</h2>
    <a href="" class="sidebar-item sidebar-item--rankings sidebar-item--authors_max sidebar-item--active">MAX. MOTS PAR SESSION</a>
    <a href="" class="sidebar-item sidebar-item--rankings sidebar-item--authors_mean">MOYENNE MOTS PAR SESSION</a>
    <a href="" class="sidebar-item sidebar-item--rankings sidebar-item--consistent_authors">max. jours d'écriture consécutifs</a>
  </div>
</div>
