<div class="sidebar sidebar--rankings">
  <div class="sidebar-buttons">
    <h2 class="sidebar-title">Records</h2>
    <%= link_to "max. mots par session", rankings_path(filter: "words_max"), class: "sidebar-item sidebar-item--rankings sidebar-item--active" , id: 'sidebar-item--words_max', remote: true %>
    <%= link_to "moyenne mots par session", rankings_path(filter: "words_mean"), class: "sidebar-item sidebar-item--rankings" , id: 'sidebar-item--words_mean', remote: true %>
    <%= link_to "max. jours d'écriture consécutifs", rankings_path(filter: "streaks_max"), class: "sidebar-item sidebar-item--rankings" , id: 'sidebar-item--streaks_max', remote: true %>
  </div>
</div>
