<div class="post-actions">
  <div class="inkdrops-guide inkdrops-guide-author">
    Vous avez reçu <span><%= @chapter.inks %> inks</span> de la part des lecteurs d'inkip.it qui apprécient vos créations.
    <a class="inkdrops-inkers" data-toggle="modal" data-target="#inkersModal">Cliquez-ici</a> pour voir qui vous en a laissé !
  </div>
  <div class="inkdrops-block">
    <div id="reaction-form">

    </div>
  </div>
</div>
