<div class="col-xs-12 col-md-3">
  <div class="card card--add">
    <div class="card__upper-content">
      <div class="card__title-section card__title--add">Ajouter un livre</div>
    </div>
    <a class="card__link card__link--add" data-toggle="modal" href="#exampleModal" data-target="#exampleModal" id="add-book-btn"></a>
 </div>
</div>
<% @books.each do |book| %>
  <div class="col-xs-12 col-md-3">
    <div class="card">
      <div class="card__upper-content">
        <div class="card__title-section"><%= book.title %></div>
      </div>
      <div class="card__lower-content">
        <div class="card__book-chapters"><%= book.chapters.count %> chapitres</div>
        <div class="card__wordcount"><%= book.wordcount %> mots</div>
      </div>
      <%= link_to "", book_path(book), class:"card__link" %>
   </div>
  </div>
<% end %>
