<div class="landing-footer">
  <ul class="landing-footer-list">
    <li class="underlined-anchor"><a href="http://simonguillor.it" target="_blank">simonguillor.it</a></li>
    <li class="underlined-anchor"><%= link_to "CGU", cgu_path %></li>
    <li class="underlined-anchor"><%= link_to "Mentions Légales", mentions_legales_path %></li>
  </ul>
</div>
