<%= render 'shared/navbar' %>

<div class="content-dashboard content-dashboard--character-sheet" style="height: calc(100vh - 60px);">
  <div class="character-sheet-container">
    <h1>Conditions générales d'utilisation</h1>
      <i>Actualisées le 15/01/2018</i>
    <h2>Acceptation des CGU</h2>
      <p>
        Vous vous engagez à prendre connaissance et à accepter les présentes CGU. Ces dernières peuvent être modifiées à tout moment.
      </p>
    <h2>Objet du site</h2>
      <p>inkip.it est une plateforme d'écriture centrée autour de l'atteinte d'objectifs quantifiés. Le site offre la possibilité aux membres de suivre l'évolution de la rédaction de leur roman, ainsi que de mesurer leurs progrès à l'aune des résultats des autres membres.</p>
    <h2>Propriété Intellectuelle</h2>
      <p>
        inkip.it ne s'attribue aucun droit de propriété sur les contenus publiés par les membres du site.
      </p>
      <p>
        Les membres s'engagent à ne diffuser que du contenu dont ils sont eux-même propriétaires.
      </p>
      <p>
        inkip.it est propriétaire de l'ensemble des outils nécessaires aux services proposés par la plateforme.
      </p>
    <h2>Droit applicable et dispositions finales</h2>
      <p>
        Les présentes Conditions Générales sont soumises au droit français et tout litige relatif à leur interprétation et/ou à leur l'exécution relève des tribunaux français. Dans le cas où l'une des dispositions des présentes Conditions Générales serait déclarée nulle ou sans effet, elle serait réputée non écrite, sans que cela n'affecte la validité des autres dispositions.
      </p>
  </div>
</div>
