<div class="banner-landing">
  <%= render 'shared/navbar', landing: 'landing' %>
  <div class="content-banner-landing">
    <div class="landing-title-container">
      <div class="landing-brand">inkipit.</div>
      <h1 class="landing-title">Racontez des histoires</h1>
      <div class="landing-subtitle">Finissez enfin votre roman.</div>
      <a class="cta landing-cta" href="<%= new_user_registration_path %>">Commencer maintenant</a>
    </div>
  </div>
</div>
<div class="landing-section">hello1</div>
<div class="landing-section">hello2</div>
<div class="landing-section">hello3</div>
