<%= render 'shared/navbar' %>

<div class="content-dashboard content-dashboard--character-sheet" style="height: calc(100vh - 60px);">
  <div class="character-sheet-container">
    <h1>Mentions légales</h1>
      <i>Actualisées le 15/01/2018</i>
    <h2>Edition et réalisation du site</h2>
      <p>
        Simon Guillorit
      </p>
      <p>
        284 boulevard Voltaire, 75011 Paris.
      </p>
      <p>
        <a href="mailto:simon@inkip.it">simon@inkip.it</a>
      </p>
      <p>
        <a href="http://simonguillor.it" target="_blank">simonguillor.it</a>
      </p>
    <h2>Hébergement du site</h2>
      <p>
        Le site est hébergé par Amazon Web Services (via Heroku)
      </p>
      <p>
        Amazon Web Services, Inc.
        P.O. Box 81226
        Seattle, WA 98108-1226
        http://aws.amazon.com
      </p>
    <h2>Confidentialité et Données personnelles</h2>
      <p>
        Conformément à la loi Informatique et Libertés (Loi N°78-17 du 6 janvier 1978), nous vous informons que la collecte des informations dont la saisie est obligatoire, est nécessaire au traitement de vos données. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez l'exercer en adressant un e-mail à : <a href="mailto:simon@inkip.it">simon@inkip.it</a>
      </p>
    <h2>Conditions Générales</h2>
      <p>Pour les membres de la communauté, le site dispose de <a href="/cgu">Conditions Générales d'Utilisation</a>.</p>
  </div>
</div>
