<div class="navbar-book-dashboard">
  <% if defined? subsection != nil %>
    <div class="navbar-back">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      <%= link_to "Retour au livre", book_path(@book), class: "navbar-back-link" %>
    </div>
  <% end %>
  <div class="navbar-book-dashboard-content">
    <ul class="navbar-book-list">
    <li class="navbar-item navbar-item--active"><a href="#">Organiser</a></li>
    <li class="navbar-item"><a href="#">Analyser</a></li>
    <li class="navbar-item"><a href="#">Configurer</a></li>
    </ul>
  </div>
</div>
