<div class="navbar-book-dashboard">
  <div class="navbar-book-dashboard-content">
    <ul class="navbar-book-list">
    <li class="navbar-item navbar-item--active"><a href="#">Organiser</a></li>
    <li class="navbar-item"><a href="#">Analyser</a></li>
    <li class="navbar-item"><a href="#">Configurer</a></li>
    </ul>
  </div>
</div>
