<% @books_published.each do |book| %>
  <div class="card card--book card--published-book" data-toggle="modal" data-target="#publishedChaptersModal-<%= book.id %>">
    <div class="card__upper-content">
      <div class="card__title-section">
        <h3 class="card__title"><%= book.title %></h3>
      </div>
    </div>
    <div class="card__lower-content">
      <div class="card__book-chapters"><%= book.published_chapters.count %> chapitres publiés</div>
      <div class="card__wordcount"><%= book.inks %> inks</div>
    </div>
  </div>
<% end %>
