<div class="navbar-book-dashboard">
  <div class="navbar-book-title hidden-xs hidden-sm">

  </div>
  <div class="navbar-book-dashboard-content">
    <ul class="navbar-book-list">
    <li class="navbar-item ">Écrire</a></li>
    <li class="navbar-item ">Analyser</a></li>
    <li class="navbar-item ">Configurer</a></li>
    </ul>
  </div>
</div>
