<div class="sidebar sidebar--dashboard">
  <div class="sidebar-buttons">
    <h2 class="sidebar-title">Vos livres</h2>
    <a href="" class="sidebar-item sidebar-item--rankings sidebar-item--your-books sidebar-item--active">Tous vos livres</a>
    <a href="" class="sidebar-item sidebar-item--rankings sidebar-item--your-published-books">Livres publiés</a>
  </div>
</div>
