<%= render "shared/navbar_dashboard", dashboard: 'dashboard' %>

<div class="wrapper">
  <%= render "shared/dashboard_sidebar", chapters: 'chapters' %>
  <div class="content-dashboard content-dashboard--full">
    <%= render "chapters/cards.html.erb" %>
  </div>
</div>

<%= render "chapters/modal_new_chapter" %>
