<div class="card card--add card--character" id="add-character-card">
  <div class="card__upper-content">
    <div class="card__title-section card__title--add" id="text-add-a-chapter">Ajouter un personnage</div>
    <i class="fa fa-plus-square-o" id="plus-add-a-chapter" aria-hidden="true"></i>
  </div>
  <a class="card__link card__link--add" data-toggle="modal" href="#exampleModal" data-target="#exampleModal" id="add-character-btn"></a>
</div>

<% @characters.each do |character| %>

    <div class="card card--chapter">
      <div class="card__upper-content">
        <h3 class="card__title-section card__title"><%= character.name %></h3>
      </div>
      <div class="card__lower-content">
      </div>
      <%= link_to "", book_character_path(@book, character), class:"card__link" %>
   </div>

<% end %>
