<div class="bottom-bar">
  <div class="bottom-bar-container">
    <div class="bottom-bar-shown">
      <div class="bottom-bar__go-back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          <%= link_to "Retour au livre", book_path(@book), class: "bottom-bar__back-to-book" %>
      </div>
      <div class="bottom-bar__save-status">
        <div class="saving-status saving-status--saved">Enregistré !</div>
      </div>
    </div>
  </div>
</div>
