<div class="content-writing-title content-writing-title--reader">
  <%= @chapter.title %>
</div>
<div class="content-writing-text content-writint-text--reader">
  <%= strip_tags(@chapter.content) %>
</div>
