<div class="content-writing-title content-writing-title--reader">
  <%= @chapter.title %>
</div>
<div class="content-writing-text content-writing-text--reader">
  <%= @chapter.content.html_safe %>
</div>
