<div class="post-actions">
  <div class="inkdrops-guide">
    En donnant plus ou moins d'<span>inks</span> à l'auteur, vous lui montrez votre soutien.
  </div>
  <div class="inkdrops-block">
    <div id="reaction-form">
      <% unless current_user.reacted_at?(@chapter) %>
        <%= render "reactions/create" %>
      <% else %>
        <%= render "reactions/update" %>
      <% end %>
    </div>
  </div>
</div>
