<div class="post-actions">
  <div class="inkdrops-guide">
    En donnant plus ou moins d'<span>inks</span> à l'auteur, vous lui montrez votre soutien.
  </div>
  <div class="inkdrops-block">
    <a class="inkdrops" id="inkdrop">
      <%= render "svg/inkdrop" %>
      <span class="ink-count" id="ink-count"></span>
      <div class="inkdrops-value" id="ink-total-count"></div>
    </a>
  </div>
</div>
