<div class="post-actions">
  <div class="inkdrops-guide">
    En donnant plus ou moins d'<span>inks</span> à l'auteur (50 max.), vous lui montrez votre soutien.
  </div>
  <div class="inkdrops-block">
    <div id="reaction-form">
      <%= render "reactions/create" %>
      <a class="inkdrops-value" id="ink-total-count" data-toggle="modal" data-target="#inkersModal"></a>
    </div>
      <%= render "reactions/inks_count" %>
  </div>
</div>
