.card {
  height: 218px;
  width: 188px;
  position: relative;
  background-color: #FFFFFF;
  margin: 0 30px 24px 0;
  border-radius: 4px;
  border: solid 1px #CCCCCC;
  box-shadow: 0 0 5px 0 transparent;
  box-shadow: 4px 4px 5px lightgrey;
  font-size: 12px;
  padding: 0 12px 0 12px;
  transition: transform .5s ease;

  &:hover {
    transform: translate(0, -5px);
  }
}

.card-container {
  position: relative;
}

.card__upper-content {
  position: relative;
  height: 114px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 6px;
}

.card__lower-content {
  position: relative;
  padding: 12px;
  text-align: center;
}

.card__title-section {
  position: absolute;
  color: #3D3D3D;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.card__chapter-number {
  font-size: 12px;
  position: relative;
  bottom: 0;
}

.card__title {
  font-size: 16px;
  text-transform: uppercase;
}

.card__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  transition: opacity .5s;

  &:hover {
    opacity: .1;
  }
}

// Add a book

.card--add {
  background-color: $purple-light;

  &:hover {
    transform: none;
    opacity: .9;
    .card__title--add {

    }

  }

  a:hover {
    opacity: 0;
  }
}

.card__title--add {
  color: white;
  font-weight: 600;
}

#plus-add-a-chapter {
  display: none;
  font-size: 36px;
  color: white;
  bottom: 0;
  position: absolute;
}
