<div class="card card--add card--place" id="add-place-card">
  <div class="card__upper-content">
    <div class="card__title-section card__title--add" id="text-add-a-chapter">Ajouter un lieu</div>
    <i class="fa fa-plus-square-o" id="plus-add-a-chapter" aria-hidden="true"></i>
  </div>
  <a class="card__link card__link--add" data-toggle="modal" href="#exampleModal" data-target="#exampleModal" id="add-place-btn"></a>
</div>

<% @places.each do |place| %>

    <div class="card card--chapter">
      <%= link_to "", book_place_path(@book, place), method: :delete, class: "fa fa-trash", data: { confirm: "Etes-vous certain de vouloir effacer ce lieu ?" } %>
      <div class="card__upper-content">
        <div class="card__title-section">
          <h3 class="card__title"><%= truncate(place.name, length: 50, separator: ' ')  %></h3>
        </div>
      </div>
      <div class="card__lower-content">
      </div>
      <%= link_to "", book_places_path(@book), class:"card__link" %>
   </div>

<% end %>
